<ion-view title="Account" id="page4" style="background-color:#E74C14;">
  <ion-content padding="true" class="has-header">
    <ion-list id="account-list2">
      <ion-item class="item-avatar positive" id="account-list-item6" href-inappbrowser="https://twitter.com/LFC?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
        <h2positive>Twitter</h2positive>
      </ion-item>
      <ion-item class="item-avatar royal" id="account-list-item7" href-inappbrowser="https://www.instagram.com/liverpoolfc/?hl=en">
        <h2royal>Instagram</h2royal>
      </ion-item>
      <ion-item class="item-avatar balanced" id="account-list-item8" href-inappbrowser="https://www.facebook.com/LiverpoolFC">
        <h2balanced>Facebook</h2balanced>
      </ion-item>
      <ion-item class="item-avatar energized" id="account-list-item10" href-inappbrowser="https://www.snapchat.com/add/lfc">
        <h2energized>Snapchat</h2energized>
      </ion-item>
      <ion-item class="item-avatar assertive" id="account-list-item14" href-inappbrowser="https://www.liverpoolfc.com/welcome-to-liverpool-fc">
        <h2assertive>Website</h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>