<ion-view title="Quiz" id="page10">
  <ion-content padding="true" class="has-header">
    <h1 id="quiz-heading5" style="color:#000000;">When was Liverpool FC founded ?</h1>
    <div id="quiz-button-bar2" class="button-bar">
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://cdn1.iconfinder.com/data/icons/ui-colored-3-of-3/100/UI_3_-20-512.png" id="quiz-button23" style="left:-10px;" class="button button-positive button-full">1892</a>
      </div>
      <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button24" class="button button-positive button-block">1884</a>
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button25" style="left:-10px;" class="button button-positive button-full">1902</a>
      </div>
    </div>
    <h1 id="quiz-heading7" style="color:#000000;">Who is the top goal scorer?</h1>
    <div id="quiz-button-bar3" class="button-bar">
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button29" style="left:-10px;" class="button button-assertive button-full">R. Hunt</a>
      </div>
      <a href-inappbrowser="https://cdn1.iconfinder.com/data/icons/ui-colored-3-of-3/100/UI_3_-20-512.png" id="quiz-button30" class="button button-assertive button-block">I. Rush</a>
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button31" style="left:-10px;" class="button button-assertive button-full">F. Torres</a>
      </div>
    </div>
    <h1 id="quiz-heading8" style="color:#000000;">Who has the most appearances </h1>
    <div id="quiz-button-bar4" class="button-bar">
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://cdn1.iconfinder.com/data/icons/ui-colored-3-of-3/100/UI_3_-20-512.png" id="quiz-button16" style="left:-10px;" class="button button-energized button-full">Callaghan</a>
      </div>
      <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button20" class="button button-energized button-block">Gerrard</a>
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button21" style="left:-10px;" class="button button-energized button-full">Carragher</a>
      </div>
    </div>
    <h1 id="quiz-heading11" style="color:#000000;">Whose statue is outside Anfield</h1>
    <div id="quiz-button-bar5" class="button-bar">
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button32" style="left:-10px;" class="button button-dark button-full">J. Barnes</a>
      </div>
      <a href-inappbrowser="https://pi.tedcdn.com/r/talkstar-assets.s3.amazonaws.com/production/playlists/playlist_91/everything_you_thought_was_wrong.jpg?quality=89&amp;w=800" id="quiz-button33" class="button button-dark button-block">I. Rush</a>
      <div style="margin-right:-20px;">
        <a href-inappbrowser="https://cdn1.iconfinder.com/data/icons/ui-colored-3-of-3/100/UI_3_-20-512.png" id="quiz-button34" style="left:-10px;" class="button button-dark button-full">B. Shankly</a>
      </div>
    </div>
  </ion-content>
</ion-view>