<ion-view title="Settings " id="page3" style="background-color:#D9D1E5;">
  <ion-content padding="true" class="has-header">
    <form id="settings-form6" class="list">
      <ion-item class="range range-energized" id="settings-range2">Brightness
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-item class="item-avatar" id="settings-list-item5" ui-sref="account()">
        <h2>Accounts</h2>
      </ion-item>
      <ion-checkbox id="settings-checkbox2">Get notifications</ion-checkbox>
    </form>
  </ion-content>
</ion-view>