<ion-view title="Squad" id="page7" style="background-color:#EF1331;">
  <ion-content padding="true" class="has-header">
    <h1 id="squad-heading3" style="color:#4FCD34;">Manager </h1>
    <div id="squad-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#142AFB;">JURGEN KLOPP</p>
    </div>
    <h1 id="squad-heading4" style="color:#E0E537;">PLAYERS</h1>
    <div id="squad-markdown15" class="show-list-numbers-and-dots">
      <p style="color:#1ED6EC;">(22) Simon Mignolet</p>

      <p style="color:#1ED6EC;">(13) ALisson Becker</p>

      <p style="color:#1ED6EC;">(4) Virgil van Dijk. </p>

      <p style="color:#1ED6EC;">(26) Andrew Robertson. </p>

      <p style="color:#1ED6EC;">(66) Trent Alexander-Arnold. </p>

      <p style="color:#1ED6EC;">(12) Joe Gomez. </p>

      <p style="color:#1ED6EC;">(6) Dejan Lovren.</p>

      <p style="color:#1ED6EC;">(32) Joel Matip.</p>

      <p style="color:#1ED6EC;">(8) Naby Keïta. </p>

      <p style="color:#1ED6EC;">(3) Fabinho. </p>

      <p style="color:#1ED6EC;">(5) Georginio Wijnaldum. </p>

      <p style="color:#1ED6EC;">(21) Alex Oxlade-Chamberlain.</p>

      <p style="color:#1ED6EC;">(14) Jordan Henderson.</p>

      <p style="color:#1ED6EC;">(11) Mohamed Salah.</p>

      <p style="color:#1ED6EC;">(10) Sadio Mané </p>

      <p style="color:#1ED6EC;">(9) Roberto Firmino. </p>

      <p style="color:#1ED6EC;">(23) Xherdan Shaqiri. </p>

      <p style="color:#1ED6EC;">(15) Daniel Sturridge</p>

      <p style="color:#1ED6EC;">(27) Divock Origi</p>
    </div>
  </ion-content>
</ion-view>